---
---

@import "{{ site.theme }}";
.navbar {
    background-color: #587157;
    overflow: hidden;
    position:fixed;
    height: 100%;
    width: 20%;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 60px;
  }

.navbar .page {
    //float: left;
    color: #ffffff;
    text-align: center;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
    font-size: 24px;
    display: block;
  }

.navbar a:hover {
    color: #cec814;
  }

#spacer {
    padding-top: 20px;
    padding-bottom: 20px;
}
#container {
    top: 0;
    bottom: 0;
    position:fixed;
    left: 20%;
    width: 80%;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: center;
}

.inner {
    width: 70%;
    text-align: left;
}

#name {
    font-family: 'Great Vibes', cursive;
    font-size: 50px;
    padding-top: 4px;
}

#headshot {
    display:block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}