---
---

@import "{{ site.theme }}";
.navbar {
    background-color: #587157;
    overflow: hidden;
    position:fixed;
    height: 100%;
    width: 20%;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 60px;
  }

.navbar a {
    //float: left;
    color: #ffffff;
    text-align: center;
    padding: 10px 70px 10px 15px;
    text-decoration: none;
    font-size: 24px;
    display: block;
  }

.navbar a:hover {
    color: #0000EE;
  }

#spacer {
    padding-top: 30px;
    padding-bottom: 30px;
}
#container {
    top: 0;
    bottom: 0;
    position:fixed;
    left: 20%;
    width: 80%;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: center;
}

.inner {
    width: 70%;
    text-align: left;
}