---
---

@import "{{ site.theme }}";
.navbar {
    background-color: #a6a6a6;
    overflow: hidden;
    position:fixed;
    height: 100%;
    width: 21%;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 60px;
  }

.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 24px 20px 24px 32px;
    text-decoration: none;
    font-size: 28px;
    display: block;
  }

  .navbar a:hover {
    color: rgb(38, 114, 138);
  }
